extends layout 

block content 
  .inner 
    form.form(action="/register" method="POST")
      h2 Register 
      label(for="name") Name
      input#name(name="name" )
      label(for="email") Email 
      input#email(name="email" type="email" )
      label(for="password") Password 
      input#password(name="password" type="password" )
      label(for="password-confirm") Confirm Password 
      input(name="password-confirm" type="password" id="password-confirm" )

      input.button(type="submit" value="register")


